@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');

:root {
	--main: #0A0A0A;
	--text: #FFFFFF;
	--accent: #E5625E;
	--modal: #2F2F2F;
	--transparent: rgba(255, 255, 255, 0.15);
	--transparent-accent: rgba(229, 98, 94, 0.5);
	--transparent-black: rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--transparent); 
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	padding: 0;
	margin: 0;

	display: flex;

	background-color: var(--main);
	border-style: solid none none none;
	border-width: 0.5em;
	border-color: var(--accent);
}

h1, h2, h3, p, a, ul {
	font-family: "Darker Grotesque", sans-serif;
	font-weight: 300;
	color: var(--text);
}

h1 {
	font-size: 4rem;
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 2rem;
	padding: 0;
	margin: 0;	
}

h3 {
	font-size: 1.25rem;
	padding: 0;
	margin: 0;
}

.cursor {
	cursor: pointer;
}

.text-accent {
	color: var(--accent);
}

.text-pane {
	width: 50%;
	height: auto;
	padding: 10% 7% 0 5%;
}

.text-pane p {
	font-size: 2rem;
}

.text-pane ul {
	width: 100%;
	padding: 0;

	list-style-type: none;
	display: inline-flex;
	justify-content: space-between;

	font-size: 1.75rem;
}

.text-pane ul :hover {
	cursor: pointer;
	color: var(--accent);
}

.scroll-pane {
	width: 50%;
	margin: 12% auto 0;
	overflow: hidden;
	overflow-y: scroll;
}

.scroll-grid {
	width: 475px;
	margin-top: 20px; 

	display: grid;
	grid-template-columns: 150px 150px 150px;
	grid-column-gap: 10px; 
	grid-row-gap: 10px;

	justify-content: space-between;
	justify-items: center;
}

.scroll-grid-item {
	width: 150px;
	height: 150px;
	padding: 2%;

	position: relative;

	background-color: var(--transparent);
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.scroll-grid-item:hover {
	background-color: var(--transparent-accent);
}

.scroll-grid-item-title {
	width: 100%;
	height: 50%;
}

.scroll-grid-item-subtitle {
	width: 100%;
	height: 50%;
}

#modal-background {
	width: 100%;
	height: 100%;
	
	z-index: 1;
	position: fixed;
	visibility: hidden;

	background-color: var(--transparent-black);
}

.modal-box {
	width: 40vw;
	height: auto;

	z-index: 2;
	position: fixed;
	visibility: hidden;
	top: 22.5vh;
	left: 30vw;

	background-color: var(--modal);
}

.modal-header {
	width: 100%;
	height: 12%;
	padding: 0 2%;

	display: flex;
	justify-content: space-between;
	visibility: hidden;

	background-color: var(--accent);
}

.modal-close-icon {
	width: 25px;
	height: 25px;
	margin: auto 0;

	visibility: hidden;

	background-image: url("Resources/close.svg");
	background-repeat: no-repeat;
	background-size: cover;

	cursor: pointer;
}

.modal-content {
	width: 100%;
	height: 75%;
	padding: 0 2%;
	margin: 1% 0 0;

	visibility: hidden;
	overflow: hidden;
	overflow-y: scroll;
}

.modal-content h3 {
	margin-bottom: 2%; 
}

.modal-content p {
	margin: 0;
	font-size: 1.25rem;
}

.modal-content p:last-child {
	margin-bottom: 20px; 
}

@media only screen and (max-width: 1200px) {
	
	:root {
		--transparent: rgba(229, 98, 94, 0.5);
		--transparent-black: rgba(0, 0, 0, 0.80);
	}

	body {
		display: block;
	}

	h2 {
		padding-left: 2.5vw;
	}

	.text-pane {
		width: 100vw;
	}

	.scroll-pane {
		width: 100vw;
		height: auto;

		overflow: visible;
	}

	.scroll-grid {
		width: 100vw;

		grid-template-columns: 45vw 45vw;
		grid-column-gap: 10px;

		justify-content: space-around;
	}

	.scroll-grid-item {
		width: 100%;
		height: 100%;
		padding: 3%;

		position: relative;
	}

	.scroll-grid-item-title {
		width: 100%;
		height: 30%;
	}
	
	.scroll-grid-item-subtitle {
		width: 100%;
		height: 70%;
	}

	.modal-box {
		width: 70vw;
		height: auto;
		max-height: 55vh;

		top: 22.5vh;
		left: 15vw;

		overflow: hidden;
		overflow-y: scroll;
	}
}

@media only screen and (max-width: 520px) {

	.modal-header h2 {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 400px) {

	.modal-header h2 {
		font-size: 1.25rem;
	}
}