/*CONTAINS CODE FOR UNIVERSAL PROPERTIES (i.e. COLOR, SCROLLBARS, BOX-SIZING)*/
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');

:root {
	--main: #0A0A0A;
	--text: #FFFFFF;
	--accent: #E5625E;
	--modal: #2F2F2F;
	--transparent: rgba(255, 255, 255, 0.15);
	--transparent-accent: rgba(229, 98, 94, 0.5);
	--transparent-black: rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--transparent); 
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--main);
	
	padding: 0;
	margin: 0;
}

h1, h2, h3, p, a, ul {
	font-family: "Darker Grotesque", sans-serif;
	font-weight: 300;
	margin: 0;
}

/* PROJECTS */
#project-sidebar {
	width: 25vw;
	height: 100vh;
	max-height: 100vh;
	padding: 0 2%;
	
	z-index: 999;
	position: absolute;
	background-color: var(--modal);
	color: var(--text);

	overflow: scroll;
	overflow-x: hidden;
	overflow-y: scroll;

	resize: horizontal;
}

#project-navigation {
	width: 100%;
	height: 15px;
	margin-top: 20px;
	
	display: flex;
	justify-content: space-between;
}

#project-arrow {
	width: 25px;
	height: 15px;

	background-image: url("Graphics/arrow-back.svg");
	background-repeat: no-repeat;
	background-size: cover;

	cursor: pointer;
}

#project-menu {
	width: 15px;
	height: 15px;

	background-image: url("Graphics/menu.svg");
	background-repeat: no-repeat;
	background-size: cover;

	cursor: pointer;	
}

#project-header {
	width: 100%;
	
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto auto auto;
}



#project-description {
	width: 100%;
	height: 80%;
}

#project-description p {
	margin-top: 15px;
}

@media only screen and (max-width: 520px) {
	
	#project-sidebar {
		width: 100vw;
		height: 30vh;

		resize: vertical;
	}
}