p {
	font-family: "Darker Grotesque", sans-serif;
}

.content-container {
	padding: 2% 5%;
	width: 100vw;
	height: 90vh;
	display: flex;
}

.card-stream-container {
	width: 35%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	border-right: solid;
	border-color: #1C1C1C;
	border-width: medium;
}

.card-stream {
	width: 90%;
	min-height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

.card-stream::-webkit-scrollbar {
	display: none;
}

.card-stream {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-s {
	width: 70%;
	height: 30%;
	padding: 5%;
	margin: 0 auto 20px;
	background-color: rgba(141, 119, 95, 0.25);
	border-style: solid;
	border-radius: 15px;
	border-color: #8D775F;
	border-width: medium;
	cursor: pointer;
}

.card-s-title {
	font-size: 1.75rem;
	font-weight: 600;
	color: #1C1C1C;
}

.card-s-occupation {
	font-size: 1.75rem;
	font-weight: 500;
	color: #1C1C1C;
}

.card-s-time {
	font-size: 1.5rem;
	font-weight: 400;
	color: #8D775F;
}

.card-s-posttext {
	color: #1C1C1C;
	font-size: 1.25rem;
	text-align: justify;
	display: none;
	width: 70%;
	margin: 0 auto 20px;
}

.card-expanded-container {
	width: 65%;
	height: 100%;
	padding: 0 10%
}

.card-l {
	width: 100%;
	height: 50%;
	padding: 5%;
	margin: 0;
	background-color: rgba(141, 119, 95, 0.25);
	border-style: solid;
	border-radius: 15px;
	border-color: #8D775F;
	border-width: medium;
}

.card-l-title {
	font-size: 2.5rem;
	font-weight: 600;
	color: #1C1C1C;
}