@import url('https://fonts.googleapis.com/css2?family=Federo&family=Martel:wght@200&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #FBF5F3;
	height: 100vh;
}

h1 {
	font-family: "Federo", serif;
	color: #1C1C1C;
	margin-top: 0;
	margin-bottom: 0;
}

p {
	font-family: "Martel", sans-serif;
	font-weight: 200;
	color: #1C1C1C; 
}

.title-bar {
	width: 100vw;
	height: auto;
	padding: auto 0;
	font-size: 2rem;
	text-align: center;
}